$icon-font-path: "../vender/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../vender/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$brand: #1386A0;

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
    .image-container {
        width: 100% !important;
    }
    img {
        width: 100% !important;
        height: auto !important;
    }

    .benefit {
        margin-top: -150px;
        padding-left: 0;

        li {
            float: none !important;
            height: auto !important;
            margin-right: 0 !important;
            margin-top: 15px !important;
        }
    }

    .head-line {
        background-position: 80% bottom !important;
    }

    #subscribe-form {
        input {
            width: calc(100% - 15px - 15px) !important;
            margin-right: 15px !important;
            margin-left: 15px !important;
            margin-bottom: 15px;
        }
    }
}

@font-face {
    font-family: "lato";
    src: url("../fonts/LATO-MEDIUM.TTF");
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/UFONTS.COM_DIN-MEDIUM.TTF");
}

section {
    height: 580px;
    position: relative;
    padding-top: 38px;
}

h1, h2, h3 {
    letter-spacing: 0.035em;
    line-height: 1.55em;
    font-family: "DIN";
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px;
    margin-top: 10px;
}

h3 {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 0;
}

p {
    font-size: 18px;
    line-height: 1.6em;
    font-family: "lato"
}

.btn {
    font-family: "lato";

    &:focus, &:active:focus, &.active:focus {
        outline: 0;
    }

    &.btn-fat {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
    }
}

.image-container {
    width: 980px;
    height: 309px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: $brand;
    color: white;
}

.vertical-middle {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.vertical-horizontal-center {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: block;
    left: 0;
    right: 0;
}

.head-line {
    background-image: url("../images/background.png");
    background-position: center bottom;
    color: $brand;
    padding-left: 90px;
    padding-right: 90px;
}

.logo {
    background-image: url("../images/logo.png");
    height: 48px;
    width: 197px;
    background-size: contain;
    background-repeat: no-repeat;
}

.scroll-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42px;
    height: 25px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/scrolldown.png");
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
}

.how-it-works {
    background-color: $brand;
    color: #ffffff;
    padding-left: calc((100% - 530px) / 2);
    padding-right: calc((100% - 530px) / 2);
    padding-top: 72px;

    h2 {
      margin-top: -62px;
    }

    > img {
      width: 530px;
      height: 337px;
    }
}

.benefit {
    color: $brand;
    list-style: disc;
    font-size: 24px;
    position: relative;
    display: inline-block;

    .image-container {
        margin-top: 50px;
    }

    li {
        font-family: "DIN";
        font-size: 28px;
        float: left;
        width: 240px;
        height: 3em;
        margin-right: 80px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

#subscribe-form {
    input {
        width: 300px;
        margin-right: 15px;
        font-family: "DIN";
    }
}

.subscribe {
    height: 520px;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    h3 {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
